/* navbar */
.navbar {
  background-color: black;
  display: flex;
  align-items: center;
  border-bottom: solid #fb8c00;
  height: 10vh;
  transition: all 0.4s;
  
}
.navbar:hover {
  height: 12vh;
  transition: all 0.4s;
}
.nav-link {
  color: #fb8c00;
  font-family: marker felt, fantasy;
  text-decoration: none;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 50px;
}
.brunchIcon {
  max-width: 30px;
  padding-left: 10px;
  object-fit: contain;
  margin-left: 0;
}
.pageTitle {
  color: #fb8c00;
  font-family: marker felt, fantasy;
  justify-content: space-between;
  font-size: 25px;
  margin-left: 10px;
}
.brunchDiv {
  display: flex;
}
/* home page  */
.restaurantImage {
  align-items: center;
  width: 80vw;
  border-radius: 40px;
}
.homeBody {
  flex-direction: column;
    align-items: center;
}
.restaurantTitle {
  color: black;
  font-family: Gill sans;
  font-size: 40px;
  margin: 10px;
  justify-content: center;
}
.homeMM {
  font-family: Gill sans;
  color: black;
  margin: 5px;
}
.restaurantLink {
  max-width: 50vw;
  justify-content: center;

  transition: all 0.3s;
text-decoration: none;
}
.restaurantLink:hover {
  width: 50vw;
  border-radius: 40px;
}
/* restaurant details */
.detailsImage {
  margin-top: 20px;
  width: 60vw;
  border-radius: 40px;
}
.nameAndLocation {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
}
.trashIcon {
  max-width: 25px;
  object-fit: contain;
  padding: 5px;
}
.trashIcon:hover {
  transform: scale(1.1);
}
.card {
  display: flex;
  justify-content: space-between;
  height: 50px;
  font-family: Gill sans;
}
.detailsName {
  font-size: 45px;
  font-family: Gill sans;
}
.detailsMM {
  font-family: Gill sans;
  margin-top: 0;
}
.detailsBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menuListText, .createMenuText {
  font-family: Gill sans;
  font-size: 30px;
  margin-bottom: 0;
}
.menuListText {
  margin-top: 0px;
}
.menuListDiv {
  margin-top: 10px;
  border-radius: 10px;
  padding: 15px;
}
.newItemInput {
  border-radius: 25px;
  margin-top: 10px;
  font-family: Gill sans;
}
.price {
  margin-left: 30px;
}
.deleteRestaurantButton {
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: lightcoral;
  border-radius: 25px;
  opacity: 1;
}
.deleteRestaurantButton:hover {
  opacity: .8;
  transform: scale(1.1);
  font-weight: 800;
}
.addItemButton {
  margin-left: 10px;
  border-radius: 25px;
  background-color: #fb8c00;
}
.addItemButton:hover {
  transform: scale(1.1);
}
.editButton {
  margin-left: 10px;
  border-radius: 25px;
  background-color: #fb8c00;
}
.editButton:hover {
  transform: scale(1.1);
}
/* restaurant form */
.restaurantForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* edit menu item */
.updateMenuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.updateMenuButton {
  margin-bottom: 10px;
  margin-top: 15px;
  border-radius: 25px;
  background-color: #fb8c00;
}
.updateMenuButton:hover {
  transform: scale(1.1);
}
.updateInput {
  border-radius: 25px;
  font-family: Gill sans;
  margin: 3px;
}
.updateMenuTitle {
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 50px;
  font-family: Gill sans;
}
.updateImage {
  margin-top: 20px;
  width: 60vw;
  height: 80vh;
  border-radius: 40px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
