.navbar {
  background-color: rgb(237, 253, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
  border-bottom: solid #33b2bc;
  height: 8vh;
  transition: all 0.4s;
}

.pageTitle {
  font-size: 30px;
  left: 0;
  top: 0
}

.navbar:hover {
  height: 10vh;
  transition: all 0.4s;
}

.nav-link {
  color: #33b2bc;
  font-family: sans-serif;
}

.brunchIcon {
  max-width: 30px;
  padding-left: 10px;
  object-fit: contain;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
