/* navbar */
.navbar {
  background-color: rgba(1,1,1,1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  height: 8vh;
  transition: all 0.4s;
}
.navbar:hover {
  height: 10vh;
  transition: all 0.4s;
}
.public-link {
  color: #fb8c00;
  font-family: marker felt, fantasy;
  text-decoration: none;
  /* justify-content: space-between; */
  /* margin-right: 158.7px; */
  /* margin-left: 158.7px; */
  margin-left: 7.5rem;
  /* margin-right: 5rem; */
  /* padding: 10px; */
}
.nav-link {
  color: #fb8c00;
  font-family: marker felt, fantasy;
  text-decoration: none;
  justify-content: space-between;
  /* margin-left: 110.4px; */
  /* margin-right: 72.4px; */
  margin-left: 20px;
  margin-right: 20px;
}

.brunchIcon {
  max-width: 30px;
  padding-left: 10px;
  object-fit: contain;
  margin-left: 0;
}
.pageTitle {
  color: #fb8c00;
  font-family: marker felt, fantasy;
  justify-content: space-between;
  font-size: 25px;
  margin-left: 10px;
}
.brunchDiv {
  display: flex;
}
/* home page  */
.restaurantImage {
  width: 60vw;
  border-radius: 40px;
}
.homeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurantTitle {
  color: black;
  font-family: Gill sans;
  font-size: 40px;
  margin: 10px;
}
.homeMM {
  font-family: Gill sans;
  color: black;
  margin: 5px;
}
.restaurantLink {
  max-width: 50vw;
  transition: all 0.3s;
  text-decoration: none;
  
}
.restaurantLink:hover {
  width: 50vw;
  border-radius: 40px;
}
/* restaurant details */
.detailsImage {
  margin-top: 20px;
  width: 60vw;
  border-radius: 40px;
}
.nameAndLocation {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
}
.trashIcon {
  max-width: 25px;
  object-fit: contain;
  padding: 5px;
}
.trashIcon:hover {
  transform: scale(1.1);
}
.card {
  display: flex;
  justify-content: space-between;
  height: 50px;
  font-family: Gill sans;
}
.detailsName {
  font-size: 45px;
  font-family: Gill sans;
}
.detailsMM {
  font-family: Gill sans;
  margin-top: 0;
}
.detailsBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menuListText, .createMenuText {
  font-family: Gill sans;
  font-size: 30px;
  margin-bottom: 0;
}
.menuListText {
  margin-top: 0px;
}
.menuListDiv {
  margin-top: 10px;
  border-radius: 10px;
  padding: 15px;
}
.newItemInput {
  border-radius: 25px;
  margin-top: 10px;
  font-family: Gill sans;
}
.price {
  margin-left: 30px;
}
.deleteRestaurantButton {
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: lightcoral;
  border-radius: 25px;
  opacity: 1;
}
.deleteRestaurantButton:hover {
  opacity: .8;
  transform: scale(1.1);
  font-weight: 800;
}
.addItemButton {
  margin-left: 10px;
  border-radius: 25px;
  background-color: #fb8c00;
}
.addItemButton:hover {
  transform: scale(1.1);
}
.editButton {
  margin-left: 10px;
  border-radius: 25px;
  background-color: #fb8c00;
}
.editButton:hover {
  transform: scale(1.1);
}
/* restaurant form */
.restaurantForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addFormTitle {
  font-size: 50px;
  font-family: Gill sans;
  margin: 15px;
}
.addFormInput {
  border-radius: 25px;
  font-family: Gill sans;
  margin: 1px;
}
/* edit menu item */
.updateMenuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.validButton {
  font-family: Gill sans;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: lightcoral;
  border-radius: 25px;
  opacity: 1;
}
.validButton:hover {
  opacity: .8;
  transform: scale(1.1);
  font-weight: 400;
}
.validButtonText {
  font-family: Gill sans;
}
.updateMenuButton {
  margin-bottom: 10px;
  margin-top: 15px;
  border-radius: 25px;
  background-color: #fb8c00;
}
.updateMenuButton:hover {
  transform: scale(1.1);
}
.updateInput {
  border-radius: 25px;
  font-family: Gill sans;
  margin: 3px;
}
.updateMenuTitle {
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 50px;
  font-family: Gill sans;
}
.updateImage {
  margin-top: 20px;
  width: 60vw;
  height: 80vh;
  border-radius: 40px;
}
/* about page */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.about h1 {
  font-size: 50px;
  font-family: Gill sans;
  margin-top: 15px;
  margin-bottom: 25px;
}
.about h2 {
  font-size: 30px;
  font-family: Gill sans;
  margin-top: 15px;
}
.about-self {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 0 10px;
  padding: 1rem;
}
.about h3 {
  font-family: Gill sans;
}
.aboutImage {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 40px;
}
.about-link {
  color: #fb8c00;
  text-decoration: none;
  padding: 5px;
}
/* register */
.registerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registerInput {
  display: flex;
  border-radius: 25px;
  font-family: Gill sans;
  margin-top: 2px;
}
.registerTitle {
  font-size: 50px;
  font-family: Gill sans;
  margin: 25px;
}
.registerLabel {
  font-family: Gill sans;
}
.registerImage {
  margin: 15px;
  width: 60vw;
  height: 80vh;
  border-radius: 40px;
}
.registerButton {
  border-radius: 25px;
  margin: 10px;
  background-color: #fb8c00;
}
.registerButton:hover {
  transform: scale(1.1);
}
/* signin */
.signInMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signInLogo {
  width: 30vw;
  margin-top: 15px;
}
.signInTitle {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 50px;
  font-family: Gill sans;
}
.signInInput {
  display: flex;
  border-radius: 25px;
  font-family: Gill sans;
  margin-top: 2px;
}
.signInLabel {
  font-family: Gill sans;
}
.signInButton {
  border-radius: 25px;
  margin: 10px;
  background-color: #fb8c00;
}
.signInButton:hover {
  transform: scale(1.1);
}

/* breakpoints */
/* ----------- Google Pixel ----------- */

/* Portrait */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {}

/* Landscape */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {}

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1200px) {}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}

/* ----------- iPhone 13 Mini ----------- */
/* 2340x1080 pixels at 476ppi */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {}

/* ----------- iPhone 13/13 Pro ----------- */
/* 2532x1170 pixels at 460ppi */
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {}

/* ----------- iPhone 13 Pro Max ----------- */
/* 2778x1284 pixels at 458ppi */
@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {}

/* ----------- iPhone X/XR, & 11 ----------- */
/* 1792x828px at 326ppi */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {}

/* ----------- iPhone 11 Pro ----------- */
/* 2436x1125px at 458ppi */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {}

/* ----------- iPhone 11 Pro Max ----------- */
/* 2688x1242px at 458ppi */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {}

/* ----------- Samsung S4,S5 ----------- */
@media only screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {}

/* ----------- LG Nexus 4 ----------- */
@media only screen and (device-width: 384px) and (device-height: 592px) and (-webkit-device-pixel-ratio: 2) {}

/* ----------- LG Nexus 5 ----------- */
@media only screen and (device-width: 360px) and (device-height: 592px) and (-webkit-device-pixel-ratio: 3) {}

/* ----------- Asus Nexus 7 ----------- */
@media only screen and (device-width: 601px) and (device-height: 906px) and (-webkit-device-pixel-ratio: 1.33) {}

/* ----------- iPad 1,2,iPad Air,iPad Mini,iPad Pro 9  ----------- */
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) {}

/* ----------- iPad 3,4 ----------- */
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {}

/* ----------- iPad Pro 10 ----------- */
@media only screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 1) {}

/* ----------- iPad Pro 12 ----------- */
@media only screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 1) {}

/* ----------- HD laptops ----------- */
@media only screen and (device-width: 1366px) {}

/* ----------- 13" Macbook Pro ----------- */
@media only screen and (device-width: 1440px) {}
